<p>
  Thank you for using House of Tickets.
</p>

<p>
  Please see your ticket confirmation
</p>

<p>
  See ticket attached.
</p>

<%= @event.title %></br>
Date / Time: <%= @event.date_from %> - <%= @event.time_from %></br>
Venue Address: <%= @event.location %></br>
Qty: <%= @order.number_of_tickets %></br>
Ticket Ref <%= @order.transaction_code %></br>

<p>
  <%= link_to 'Link to downloadable copy of tickets', event_ticket_orders_url(id: @order, event_id: @event.id, ticket_id: @tickets_allocation.id, format: :pdf) %>
</p>

<p>
  For any queries contact <%= mail_to 'info@officialtickets.co.uk' %>
</p>
