Event: <%= @event.title %></br>
Venue: <%= @event.location %></br>
Price: <%= @tickets_allocation.price %></br>
Tickets left: <%= Ticket.remaining(@tickets_allocation, @event) %></br></br>
<%= simple_form_for @order, url: event_ticket_orders_path(event_id: @event.id, ticket_id: @tickets_allocation.id), :html => { :class => 'form-horizontal' } do |f| %>

  <div id="dropin"></div>

  <%= f.input :number_of_tickets %>
  <%= error_span(@order[:number_of_tickets]) %>

  <%= f.input :names_on_ticket %>
  <%= error_span(@order[:names_on_ticket]) %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= @params %>
<% end %>

<script type="text/javascript">
  function setupBT() {
    braintree.setup("<%=@client_token%>", 'dropin', {
      container: 'dropin'
    });
  }
  if (window.addEventListener)
    window.addEventListener("load", setupBT, false);
  else if (window.attachEvent)
    window.attachEvent("onload", setupBT);
  else window.onload = setupBT;
  </script>
</script>
