<section class='ticket'>
  <section class='information'>

    <section class='event-barcode fixed rotate'>
      <%= raw ticket.barcode %>
    </section>

    <section class='ticket-information rotate fixed'>
      <p><strong>Ticket Type:</strong></br><%= ticket.order.tickets_allocation.name %></p>
      <p><strong>Ticket Price:</strong></br><%= ticket.order.tickets_allocation.price %></p>
    </section>

    <section class='event'>
      <section class='event-information'>
        <h2><%= ticket.event.title.upcase %></h2>
        <h4>@ <strong><%= ticket.event.venue %></strong></h4>
        <h5><%= ticket.event.location %></h5>
      </section>

      <section class='event-date'>
        <p><strong>Date:</strong> <%= ticket.event.date_from.strftime("%A %d %B %Y") %></p>
        <p><strong>Time:</strong> <%= ticket.event.time_from.strftime("%l:%M%p") %> - <%= ticket.event.time_to.strftime("%l:%M%p") %></p>
      </section>

      <section class='event-reference'>
        <p><strong>Name:</strong> <%= ticket.ordered_for %></p>
        <p><strong>Ref #:</strong> <%= ticket.serial %></p>
      </section>

      <section class='event-purchase'>
        <p><strong>Order Info:</strong>Booked by <%= ticket.order.ticket_purchaser.full_name %></p>
      </section>
    </section>

  </section>
</section>
