<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:number_of_tickets) %>:</strong></dt>
  <dd><%= @order.number_of_tickets %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total_price) %>:</strong></dt>
  <dd><%= @order.total_price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ticket_purchaser_id) %>:</strong></dt>
  <dd><%= @order.ticket_purchaser.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:event) %>:</strong></dt>
  <dd><%= @event.title %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              event_ticket_orders_path, :class => 'btn btn-default'  %>
