<!DOCTYPE html>
<html>
  <head>
    <title>OfficialTickets</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <!-- Begin page content -->
    <div class="container">
      <%= nav_bar fixed: :top, brand: "Official Tickets", responsive: true do %>
        <%= menu_group do %>
          <% if current_ticket_purchaser %>
            <%= menu_item "Home", root_path %>
          <% elsif current_event_manager %>
            <%= menu_item "Home", event_managers_root_path %>
          <% elsif current_customer_service %>
            <%= menu_item "Home", customer_services_root_path %>
          <% else %>
            <%= menu_item "Home", root_path %>
          <%end %>
          <%= menu_divider %>
          <% if current_ticket_purchaser %>
              <%= menu_item "Current Events", event_managers_events_path %>
              <%= menu_item "Purchased Tickets", tickets_path %>
          <% elsif current_event_manager %>
            <%= drop_down "Manage Events" do %>
              <%= menu_item "New Event", new_event_managers_event_path %>
              <%= menu_item "My Events", event_managers_events_path %>
            <% end %>
          <% elsif current_customer_service %>
            <%= drop_down "Manage Event Managers" do %>
              <%= menu_item "Manage Event Managers", customer_services_event_managers_path %>
              <%= menu_item "Manage Events", customer_services_events_path %>
            <% end %>
          <% else %>
            <%= menu_item "Event", events_path %>
          <% end %>
        <% end %>
        <%= menu_group pull: :right do %>
          <% if current_ticket_purchaser %>
            <%= menu_item "Log Out", destroy_ticket_purchaser_session_path, :method => :delete %>
          <% elsif current_event_manager %>
            <%= menu_item "Log Out", destroy_event_manager_session_path, :method => :delete %>
          <% elsif current_customer_service %>
            <%= menu_item "Log Out", destroy_customer_service_session_path, :method => :delete %>
          <% else %>
            <%= menu_item "Log In as Event Managers", new_event_manager_session_path %>
          <% end %>
        <% end %>
      <% end %>

      <div class="page-header">
        <%= flash_messages %>
      </div>

      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>
  </body>
</html>
