<!DOCTYPE html>
<html>
  <head>
    <title>OfficialTickets</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= nav_bar fixed: :top, brand: "Official Tickets", responsive: true do %>
        <%= menu_group do %>
          <%= menu_item "Home", customer_services_root_path %>
          <%= menu_divider %>
          <%= drop_down "Manage Event Managers" do %>
            <%= menu_item "Event Managers", customer_services_event_managers_path %>
          <% end %>
        <% end %>
        <%= menu_group pull: :right do %>
          <% if current_customer_service %>
            <%= menu_item "Log Out", destroy_customer_service_session_path, :method => :delete %>
          <% else %>
            <%= form_for @customer_service, url: session_path(:customer_service), html => {class: "navbar-form pull-right"} do |f| -%>
              <p><%= f.text_field :email %></p>
              <p><%= f.password_field :password %></p>
              <p><%= f.submit "Sign in" %></p>
            <% end -%>
          <% end %>
        <% end %>
      <% end %>

      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>
  </body>
</html>

